@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');


.pages-container{
    padding:2rem 2rem 1rem 0 ;
}

/* Pages Left */
.pages-left{
    flex-direction:column;
    align-items:center;
    position:fixed !important;
    top:0;
    left:0;
    height:100vh;
}
.logo-pages{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:1rem;
}
.logo-pages img {
    margin:0 .5rem;
}
.logo-pages h1{
    margin-bottom:0 !important;
}

.pages-profile{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:2rem 0 1rem;
    border-bottom:.1rem solid #dedede;
}
.pages__profile-img{
    max-width:120px;
    max-height:120px;
    border-radius:50%;
    border:2px solid #111;
    box-shadow:5px 5px 10px rgba(0,0,0,.4);
}
.pages__profile-img img{
    width:100%;
    height:100%;
}

/* List Group */
.pages-left .list-group{
    border-radius:0 !important;
}
.pages-left .list-group-item{
    border:none !important;
    padding:1rem 1.2rem !important;
}
.pages-left .list-group-item .btn{
    padding:.4rem 2rem !important;
    width:100%;
    border-radius:2.2rem !important;
    font-size:1.6rem !important;
}
.pages-left .list-group-item a{
    color:#929292 !important;
}
.pages-left .list-group-item a:hover{
    color:#ffffff !important;
}
.pages-left .list-group-item .btn:hover{
    background:#EE2222 !important;
    ;
}
.list-flex-item-group{
    display:flex !important;
    justify-content:flex-start !important;
    align-items:center !important;
}
.list-flex-item-group span{
    margin-left:.8rem;
}

.pages-container .spliter{
    border-bottom:.1rem solid #dedede !important;
}


/* Pages Right */
.pages-right{
    position:absolute !important;
    right:0;
    top:0;
}
.pages__cover{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background:#E6F2FD;
    padding:1rem;
}
.pages-cover-text h1{
    font-size:4rem !important;
    font-weight:600 !important;
}
.pages-cover-text h1 span{
    font-style:italic;
}


.pages-cover-nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem;
}
.pages__cover-nav{
    display:flex !important;
    align-items:center !important;
    justify-content:space-between !important;
    font-size:1.5rem !important;
    border:.1rem solid rgba(0,0,0,.4) !important;
}

/* Book Component */
.pageBook__Section{
    padding:1rem;
}
.pageBook__Section h1{
    font-weight:700 !important;
    font-size:3rem !important;
    font-family: 'Peddana', serif;
}
.pages-books{
    justify-content:space-between;
    flex-direction:row;
    width:100%;
}
.pages-books .card{
    margin:.5rem;
    width:13rem;
}
.pages-books .card a{
    text-decoration:none;
}

/* AddBook Component */
.add-book__page{
    padding:1rem;
}
.custom-file{
    display:flex !important;
    justify-content:center;
    align-items:center;
    font-size:1.5rem;
    padding:1.5rem 2rem;
    height:0 !important;
    border:.2rem solid #dedede;
    border-radius:.6rem;
    width:25% !important;
    transition:all .6s ease-out;
}
.custom-file:hover{
    background: #e6e6e6 !important;
}
.custom-file-input{
    padding:1.5rem 2rem !important;
    position:absolute !important;
    left:0;
    height:0 !important;
    z-index:888 !important;
    cursor:pointer;
}
.content-file-input{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:99;
    display:flex;
    padding:.8rem;
    justify-content:space-between;
    align-items:center;
}
.add-book__page-btn{
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
.add-book-btn{
    padding:.2rem 1rem;
    background:#EE4622;
    color:#ffffff;
    font-size:1.5rem;
    border-color:rgb(238, 70, 34);
    border-radius:.4rem;
}
.add-book-btn:hover{
    opacity:.8;
}
.add-book-btn span{
    margin-right:.4rem;
}

/* Detail Book */
.detailBook{
    padding:1rem;
    padding-bottom:20rem !important;
}
.detail__book-section{
    padding:1rem 0 1.6rem;
    margin-bottom:2rem !important;
    border-bottom:.1rem solid #dedede;
}
.detail__book-section img{
    height:28rem;
}
.detail__info-book .list-group-item{
    padding:.7rem 1.25rem  !important;
    border:0 !important;
}
.detail__info-book li h1{
    font-weight:900 !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}
.detail__info-book .list-group-item h3{
    font-size:1.6rem !important;
}
.detail__info-book li:last-child h3{
    color:#EE4622;
}
.desc__info-book{
    padding:1.5rem 0;
}
.desc__info-book p{
    margin:1rem 0 !important;
}
.detail-book-addbtn{
    padding:.5rem 1rem;
    background:#EE4622;
    color:#ffffff;
    font-size:1.5rem;
    border-color:rgb(238, 70, 34);
    border-radius:.4rem;
}
.detail-book-addbtn:hover{
    opacity:.8;
}
.detail-book-addbtn span{
    margin-right:.4rem;
}
.detail-book-readbtn{
    padding:.5rem 1rem;
    background:#f8f9fa;
    color:#121212;
    font-size:1.5rem;
    border-color:#dedede;
    border-radius:.4rem;
}
.detail-book-readbtn:hover{
    opacity:.8;
}
.detail-book-readbtn span{
    margin-right:.4rem;
}



/* Profile Style */

.profile__page_container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#FDEDE6;
    padding:1rem;
    height:21rem;
}

.list-group .flex-profile-info{
    display:flex;
    align-items:center;
}
.profile__page_info .list-group-item{
    padding:.8rem 1.2rem !important;

}
.profile__icon_info {
    font-size:2rem;
    margin-right:.8rem;
   
}
.profile__page_info .list-group .flex-profile-info h5,p{
    margin:0 !important;
}


.profile__page_picture{
    padding-left:1rem;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    height:100%;   
}
.profile__page_container .card-img-top{
    height:85%;
}
.profile__page_picture .card-body{
    height:10%;
}
.profile__page_picture .card-body{
    padding:0.5rem 0 0 !important;
}

.profile__page_picture .card-body .btn-danger{
    background:#EE4622 !important;
}

.card-profile{
    max-width:20rem;
    background-color:transparent !important;
    border:0 !important;
}
.card-profile a{
    width:100%;
}
.profile__page_container .card{
    height:100%;
    justify-content:flex-start;
}
