.dropdown-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  .dropdown-container  .dropdown > a > img{
    width:4rem;
    height:4rem;
    border:0.15rem #656565 solid;
    box-shadow:.4rem .4rem 1rem rgba(0,0,0,0.1);
    border-radius:50%;
  }

  .dropdown{
    position: relative;
    display: inline-block;
  }
  .dropdown-content{
    position:absolute;
    top:1.8rem;
    right:.1rem;
    display:none;
    padding:0.8rem;
    width:13rem;
    list-style-type:none;
    z-index:121;
    background-color:#eaeaea;
    color:#fff;
    margin:0;
    margin-top:1.2rem;
    border-radius:0.4rem;
  }
  .dropdown-content span{
    font-size:1.8rem;
  }
  .dropdown-content > div{
    display:flex;
    justify-content:space-between;
    align-items:center;
  }

  .dropdown-content .dropdown-item > button{
    /* background:transparent;
    outline:none;
    border:none; */
    color:#0000ff;
  }
  .dropdown-content .dropdown-item{
    padding:.4rem 0;
  }
  .dropdown-container .dropdown a{
    background:transparent;
    text-decoration:none;
    border:none;
    cursor: pointer;
    color:#0000ff;
  }
  .dropdown:hover .dropdown-content{
    display:block;
  }